@import "../scss/custom_variables";

@import "../scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');

@import "../scss/animations";


html, body {
//   overflow: hidden;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

#site-wrapper {
  height: 100%;
//   overflow: auto;
}


.navbar a {
    text-transform: uppercase;
    font-weight: bold;
    color: $secondary-text;
}


#main {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("{{ "/assets/img/hero1.jpg" | prepend: site.baseurl }}");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#hero {
    min-height: 80vh;
    h1, h4 {
        opacity: 0;
        animation-name: bounceIn;
        animation-duration: 450ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }  
}

h1{animation-delay: 0.2s;}
h4{animation-delay: 0.75s;}


.carousel-item {
    max-height: 85vh;
}

#menu {
    h2 {
        margin-bottom: 0.1rem;
    }
}

#drinks {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("{{ "/assets/img/bar.jpeg" | prepend: site.baseurl }}");
    background-position: center center;
    background-size: cover;

    h2 {
        margin-bottom: 0.1rem;
    }
}

@media (min-width: 720px) {
    .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    }
}

#footer {
    background-color: $black;
    #motto {
        background-color: lighten($black, 10%)
    }
}


.social-icons li {
    display: inline-block;
    list-style-type: none;
    float: center;
    padding: 0 12px;
    img {
        max-height: 2rem;
        width: 2rem; 
    };
    img:hover{
        opacity: 0.7;
    }    
}

span img {
    width: 2rem;
}

.jumbotron {
    background-color: transparent;
    @media (min-width: 720px) {
        h1 {
            font-size: 5.5rem;
        }
    }
    h1 {
        font-weight: 800 !important;
    }
}


#map {
    height: 25rem;
}

@media (min-width: 720px){
    nav ul li a {
        padding: 0.75rem;
    }

    nav ul li a,
    nav ul li a:after,
    nav ul li a:before {
    transition: all .5s;
    }


    nav.stroke ul li a {
    position: relative;
    }
    nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: $secondary-text;
    height: 1px;
    }
    nav.stroke ul li a:hover:after {
    width: 100%;
    }
}


